<!DOCTYPE html>
<html lang="es" ng-app="movies">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script src="javascript.js"></script>
    <script src="angular-local-storage.min.js"></script>
    <title>Final Proyect</title>
  </head>

<body ng-controller="maintController">
	  <h1>My favourite movies</h1>

   <select ng-model="selectedMovie" ng-options="movie.name for movie in movies" ng-click="showSelected()">
    </select>

    <div ng-show="selected">
    <h1>You selected: {{selectedMovie.name}} </h1>
    <h2>Genre: {{selectedMovie.genre}}</h2>
    <h3>Year: {{selectedMovie.year}}</h3>
    <h3>Duration: {{selectedMovie.duration}}</h3>
     <input type="button" value="Delete" ng-disabled="!selectedMovie" ng-click="deleteMovie(selectedMovie)" />
     <input type="button" value="Edit" ng-disabled="!selectedMovie" ng-click="toggle()" />
     <input type="button" value="Add new" ng-click="toggleI()" />

        <form ng-submit="editMovie(selectedMovie)" ng-show="edit">
        <p>Edit movie</p><br>
        <p>Name: </p><input type="text" value="{{selectedMovie.name}}" ng-model="selectedMovie.name"><br>
        <p>Genre:</p><input type="text" value="{{selectedMovie.genre}}" ng-model="selectedMovie.genre"><br>
        <p>Year: </p><input type="text" value="{{selectedMovie.year}}" ng-model="selectedMovie.year"><br>
        <p>Duration</p><input type="text" value="{{selectedMovie.text}}" ng-model="selectedMovie.duration"><br>
        <input type="submit" value="Edit Movie">
        </form>

       <form ng-submit="addMovie()" ng-show="add">
        <p>Create the new movie</p><br>
        <p>Name: </p><input type="text" ng-model="newMovie.name"><br>
        <p>Genre:</p><input type="text" ng-model="newMovie.genre"><br>
        <p>Year: </p><input type="text" ng-model="newMovie.year"><br>
        <p>Duration</p><input type="text" ng-model="newMovie.duration"><br>
        <input type="submit" value="Add Movie">
      </form>
    </div>  




</body>


