.hidden {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

div{
	
	display:block;
	text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
.boton{
	    position: relative;
	    left:-250px;
	    top: 30px;
}
